<!--
Student’s Name:Shivani Shyamal Kapatel
StudentID: 301250126
Date: 09 June 2023
COMP229– Web Application Development 
Express Portfolio Site 
-->
<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body id="page-top" class="index">
    <%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%- include partials/footer.ejs %>
  </body>
</html>
